@font-face {
  font-family: Batsand;
  src: url(/fonts/Batsand.ttf);
}

@font-face {
  font-family: Elianto;
  src: url(/fonts/Elianto-Regular.ttf);
}

@font-face {
  font-family: KenedyItalic;
  src: url(/fonts/KenedyItalic.ttf);
}

.heroSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .socialHandle {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% 4%;
    height: 23rem;
    z-index: 100;
    justify-content: space-evenly;

    .verticalLine {
      position: relative;
      height: 7rem;
      border-left: 1px solid white;
    }
  }

  .heroFade {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100vw;
    margin-top: 51vh;
    height: 50vh;
    background-image: linear-gradient(
      to bottom,
      rgba(12, 14, 29, 0),
      rgba(12, 14, 29, 1)
    );
  }

  .heroAnim {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;

    .mainText {
      width: 60%;
      transition: 0.5s all ease-in-out;
    }
  }

  .marqueeBox {
    position: absolute;
    z-index: 200;
    top: 85vh;
    height: 3rem;
    transform: rotate(-3deg);
    background-color: rgba(255, 255, 255, 0.2);
    .comingSoonString {
      font-family: Elianto;
      font-size: 1.8rem;
      color: white;
      margin-left: 20%;
    }
  }
}

@media screen and (max-width: 1230px) {
  .heroSection {
    .socialHandle {
      display: none;
    }
    .marqueeBox {
      top: 70vh;
      .comingSoonString {
        font-size: 1.2rem;
        margin-left: 5%;
      }
    }
  }
}
