#image_track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  top: 25%;
  transform: translate(0%, -50%);
  overflow: hidden;
  margin: 0rem;
  user-select: none; /* -- Prevent image highlighting -- */
}