@font-face {
    font-family: KenedyItalic;
    src: url(/fonts/KenedyItalic.ttf);
}
@font-face {
    font-family: Kenedy;
    src: url(/fonts/Kenedy.ttf);
}


.aboutIncand{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .aboutUs, .aboutNIT{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 5% 27%;

        .aboutHeading{
            font-family: Kenedy;
            font-size: 3rem;
            padding: 3% 0;
        }
        .aboutDesc{
            font-weight: 200 ;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}