@font-face {
  font-family: Batsand;
  src: url("/fonts/Batsand.ttf");
}

@font-face {
  font-family: Elianto;
  src: url("/fonts/Elianto-Regular.ttf");
}

@font-face {
  font-family: KenedyItalic;
  src: url("/fonts/KenedyItalic.ttf");
}

@font-face {
  font-family: Kenedy;
  src: url("/fonts/Kenedy.ttf");
}

@font-face {
  font-family: Rakkas;
  src: url("/fonts/Rakkas-Regular.ttf");
}

.CardsOfEvents {
  position: relative;
  color: white;
  width: 100%;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: #04102f;

  .Card_body {
    .Card_header {
      font-family: "Bitter";
      font-size: 3rem;
    }

    .Card_subheader {
      font-family: kenedy;
      font-size: 1.2rem;
      width: 80%;
    }

    .Card_text {
      font-family: "Rakkas";
      font-size: 1.2rem;
    }
  }

  .Card_body_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Card_header_2 {
      font-family: Elianto;
    }

    .Card_images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      img {
        margin: 2rem 4rem;
        width: 30vh;
      }
    }
  }
}

.regLinks {
  display: flex;
  justify-content: flex-end;
  .buttonSec {
    .eventButton {
      height: 3rem;
      background-color: rgb(22, 42, 65);
      border: 1px solid white;
      border-radius: 0.5rem;
      padding: 0.3rem 0.9rem;
      margin: 0 0.2rem;
      color: white;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #04102f;
      }
    }
  }
}

@media only screen and (max-width: 759px) {
  .CardsOfEvents {
    .Card_body {
      .Card_header {
        font-size: 2rem;
      }

      .Card_subheader {
        font-size: 1rem;
      }

      .Card_text {
        font-size: 0.8rem;
      }
    }
    .Card_body_2 {
      .Card_images {
        img {
          margin: 1rem;
        }
      }
    }

    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 7px;
    }
  }
}
@media only screen and (max-width: 540px) {
  .CardsOfEvents {
    padding: 0.5rem 0.5rem;
    .Card_body_2 {
      .Card_images {
        img {
          margin: 0.2rem;
        }
      }
    }
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 5px;
  }
}
