.eventSec{
    position: relative;
    height: auto;
    padding : 1rem 0rem 7rem;
}

.concertBackground {
    background-image: radial-gradient(76.3% 76.3% at 50% 55.65%, rgba(12, 14, 29, 0) 0%, #0C0E1D 73.44%), url(/src/images/bgimage1.png);
    background-size: cover;
}